<header class="site-header">
  <div class="container">
    <h1><a href="{{ "/" | prepend: site.baseurl }}"><span>Gift</span>Sonar</a></h1>

    <nav class="navbar">
      <ul>
        {% for item in site.navbar %}
          <li><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></li>
        {% endfor %}
        <!-- <li><a href="{{ site.repo }}/archive/master.zip" title="Download">Download</a></li> -->
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="icon icon-feed"></i></a></li>
      </ul>
    </nav>
  </div>
</header>

